:host {
    display: flex-start;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(109.6deg, rgb(61, 202, 245) 11.2%, rgb(9, 45, 224));



    .container{
        display: center;
        flex-direction: row;
        width: 600px; 
        height: 300px;
   
}
}
