
<app-navbar></app-navbar>

<router-outlet></router-outlet>


<body> 
 <div class="container" style="margin-top: 80px;">
  <h1 style="text-align: center;">Plumbing</h1>
  <app-carousel [images]="images1"> </app-carousel>
 </div>

 <div class="container" style="margin-top: 80px;">
  <h1 style="text-align: center;">Electrical</h1>
  <app-carousel [images]="images2"> </app-carousel>
 </div>

 <div class="container" style="margin-top: 80px;">
  <h1 style="text-align: center;">Industrial</h1>
  <app-carousel [images]="images3"> </app-carousel>
 </div>
</body>


