.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-image {
    
    width: 50%;
}

.product-image img {

    display: center;
    max-width: 100%;
    height: auto;
}

.product-info {
    width: 45%;
}

.product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-info ul {
    list-style-type: none;
    padding: 0;
}

.product-info ul li {
    margin-bottom: 10px;
}

.product-info ul li strong {
    font-weight: bold;
}

