<div class="product-details-container">
    <div class="product-image">
       
        <img  src="/assets/images/AO_Smith_Water_Heater.png" alt="Water Heater">
    </div>
    <div class="product-info">
        
        <h2>Product Details</h2>
        <ul>
            <li><strong>Item Number:</strong> 1656ENS40DIC110</li>
            <li><strong>Model Number:</strong> ENS 40 202172000 110</li>
            <li><strong>Supplier Name:</strong> A. O. SMITH</li>
            <li><strong>Stock:</strong> 100</li>
            <li><strong>Items sold:</strong> 74</li>
            <li><strong>Demand vs Supply:</strong> 26</li>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-primary">Delete</button>
        </ul>
        <button class="btn btn-primary">Add product</button>

    </div>

   
    
</div>

